#message {
  line-height: 30px;
  border: 1px solid red;
}

body {
  text-align: center;
}

.num {
  width: 30px;
  height: 25px;
  margin-top: 10px;
}

.menu {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}